@tailwind base;
@tailwind components;
@tailwind utilities;
html { height: 100%;
}
body {
    height: 100%;
    overflow-y: hidden;
}
/* body::-webkit-scrollbar-track{
    width: 5px;
    height: 5px;
    background-color: red;
}
body::-webkit-scrollbar-thumb{
    width: 1px;
} */